.title{
    .Main-Head(18px);
}
.shopping-all{
    .shang{
        font-size: 30px;
        text-align: center;
        color: @fontDisabled;
    }
    .minimg-list{
        width:100%;
        height: 535px;
        overflow: hidden;
        
    }
    .maximg{
        width:410px;
        margin-right:auto;
        margin-left: auto;
    }
}
.shopping-text{
    height: 525px;
    .shopping-title{
        .Main-Head(25px);
    }
    .shopping-Introduction{
        .Small-Head(@fontSubColor);
    }
    .shopping-price{
        width: 100%;
        height: 100px;
        background:@fontBackground;
    }
}
