.text1{
    display: flex;
    img{
        border-radius: 50%;
    }
}
.title{
    height: 35px;
}
.form-text{
    text-align: center;
}
.but-up{
    .button-hui(60px,30px);
    position: absolute;
    right:90px;
}
.but-up2{
    .button-hui(60px,30px);
    position: absolute;
    right: 10px;
}
.but-up2:hover{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%); background-blend-mode: normal, lighten, soft-light;
}