@font-face {
  font-family: "iconfont-shopping"; /* Project id 2946158 */
  src: url('//at.alicdn.com/t/font_2946158_k54uuh2a3u.woff2?t=1637552233905') format('woff2'),
       url('//at.alicdn.com/t/font_2946158_k54uuh2a3u.woff?t=1637552233905') format('woff'),
       url('//at.alicdn.com/t/font_2946158_k54uuh2a3u.ttf?t=1637552233905') format('truetype');
}

.iconfont-shopping {
  font-family: "iconfont-shopping" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shop-htmal5icon29:before {
  content: "\e641";
}

.shop-shouji:before {
  content: "\e600";
}

.shop-win:before {
  content: "\e631";
}

.shop-win1:before {
  content: "\e666";
}

.shop-xiaochengxu:before {
  content: "\e636";
}

.shop-lejiexiangqingicon:before {
  content: "\e602";
}

.shop-mima:before {
  content: "\e620";
}

.shop-xingbie:before {
  content: "\e7f8";
}

.shop-zhucetianjiahaoyou:before {
  content: "\e8ca";
}

.shop-youxiang:before {
  content: "\e908";
}

.shop-zhanghaodenglu:before {
  content: "\e70d";
}

.shop-daohang:before {
  content: "\eaf2";
}

.shop-dianhua:before {
  content: "\e8ad";
}

.shop-denglu:before {
  content: "\e611";
}
