@font-face {
  font-family: "iconfont-shopping"; /* Project id 2946158 */
  src: url('//at.alicdn.com/t/font_2946158_wgbo66n9z8c.woff2?t=1646275130547') format('woff2'),
  url('//at.alicdn.com/t/font_2946158_wgbo66n9z8c.woff?t=1646275130547') format('woff'),
  url('//at.alicdn.com/t/font_2946158_wgbo66n9z8c.ttf?t=1646275130547') format('truetype');
}

.iconfont-shopping {
  font-family: "iconfont-shopping" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shop-shoucang:before {
  content: "\e86d";
}

.shop-lishijilu_o:before {
  content: "\eb7b";
}

.shop-qianming:before {
  content: "\e6ca";
}

.shop-tuichudenglu:before {
  content: "\e61e";
}

.shop-youjiantou1:before {
  content: "\e68c";
}

.shop-dingdanzhongxin:before {
  content: "\e626";
}

.shop-wangdianzhanghaozhongzhimima:before {
  content: "\e63f";
}

.shop-biaoge:before {
  content: "\e63e";
}

.shop-sousuo:before {
  content: "\e62f";
}

.shop-midufenxi:before {
  content: "\edc2";
}

.shop-jiahao:before {
  content: "\eaf3";
}

.shop-youjiantou-tianchong:before {
  content: "\e73d";
}

.shop-taiyang:before {
  content: "\e78b";
}

.shop-yueliang:before {
  content: "\e63d";
}

.shop-cuowutishilimiandecha:before {
  content: "\e63c";
}

.shop-vertical_line:before {
  content: "\e63b";
}

.shop-shezhi3:before {
  content: "\e68f";
}

.shop-quanping_o:before {
  content: "\eb99";
}

.shop-github:before {
  content: "\e62b";
}

.shop-shezhi2:before {
  content: "\e8b8";
}

.shop-gitee2:before {
  content: "\e677";
}

.shop-shuaxin:before {
  content: "\e642";
}

.shop-shousuo:before {
  content: "\e665";
}

.shop-xingzhuanggongnengtubiao-:before {
  content: "\e61c";
}

.shop-jzfx:before {
  content: "\e75d";
}

.shop-information:before {
  content: "\e621";
}

.shop-jinrongicon_pinglun:before {
  content: "\e619";
}

.shop-dashujufenxi:before {
  content: "\e70f";
}

.shop-yonghuguanli1:before {
  content: "\e62a";
}

.shop-shangpinguanli1:before {
  content: "\fcda";
}

.shop-shezhi1:before {
  content: "\e726";
}

.shop-bangzhuguanyuwomen:before {
  content: "\e64a";
}

.shop-dingdanguanli:before {
  content: "\e61a";
}

.shop-pinglunguanli:before {
  content: "\e62e";
}

.shop-yonghuguanli:before {
  content: "\e630";
}

.shop-xiangmuxinxi:before {
  content: "\e661";
}

.shop-kongzhitai:before {
  content: "\e651";
}

.shop-lunbotu:before {
  content: "\e64b";
}

.shop-shangpinguanli:before {
  content: "\e629";
}

.shop-guanlixitong:before {
  content: "\e613";
}

.shop-houtai2:before {
  content: "\e623";
}

.shop-guanyuwomen:before {
  content: "\e608";
}

.shop-xiangxixinxi:before {
  content: "\e607";
}

.shop-shanchu:before {
  content: "\e68e";
}

.shop-baocun:before {
  content: "\ec09";
}

.shop-xiugai:before {
  content: "\e628";
}

.shop-zhanghu:before {
  content: "\e605";
}

.shop-tongji:before {
  content: "\e60a";
}

.shop-gerenzhongxinwodeshoucang:before {
  content: "\e60f";
}

.shop-wodepinglun:before {
  content: "\e697";
}

.shop-dingdan:before {
  content: "\e669";
}

.shop-xiugaimima:before {
  content: "\e627";
}

.shop-shezhi:before {
  content: "\e610";
}

.shop-fenxi:before {
  content: "\e606";
}

.shop-lishijilu:before {
  content: "\e609";
}

.shop-shijian:before {
  content: "\e8a9";
}

.shop-fabiao:before {
  content: "\e654";
}

.shop-dianzan:before {
  content: "\e604";
}

.shop-huifu:before {
  content: "\e7ac";
}

.shop-jieshao:before {
  content: "\e72f";
}

.shop-xiajiantou1:before {
  content: "\e603";
}

.shop-chicun:before {
  content: "\e63a";
}

.shop-xinxi:before {
  content: "\e649";
}

.shop-yanse:before {
  content: "\e678";
}

.shop-shuliang:before {
  content: "\e61d";
}

.shop-xiajiantou:before {
  content: "\e6cc";
}

.shop-xiangshangjiantou:before {
  content: "\e65d";
}

.shop-zhekou:before {
  content: "\e653";
}

.shop-jiage:before {
  content: "\e652";
}

.shop-youjiantou:before {
  content: "\e632";
}

.shop-shangjia:before {
  content: "\e663";
}

.shop-paixu:before {
  content: "\e618";
}

.shop-pinglun:before {
  content: "\e601";
}

.shop-shangpinxiaoliangpaihang:before {
  content: "\e639";
}

.shop-htmal5icon29:before {
  content: "\e641";
}

.shop-shouji:before {
  content: "\e600";
}

.shop-win:before {
  content: "\e631";
}

.shop-win1:before {
  content: "\e666";
}

.shop-xiaochengxu:before {
  content: "\e636";
}

.shop-lejiexiangqingicon:before {
  content: "\e602";
}

.shop-mima:before {
  content: "\e620";
}

.shop-xingbie:before {
  content: "\e7f8";
}

.shop-zhucetianjiahaoyou:before {
  content: "\e8ca";
}

.shop-youxiang:before {
  content: "\e908";
}

.shop-zhanghaodenglu:before {
  content: "\e70d";
}

.shop-daohang:before {
  content: "\eaf2";
}

.shop-dianhua:before {
  content: "\e8ad";
}

.shop-denglu:before {
  content: "\e611";
}
